@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");

/*Body*/
* {
    box-sizing: border-box;/*como el user agent (en-US) debe calcular el ancho y alto total de un elemento.*/
    padding: 0; /*establece el espacio de relleno requerido por todos los lados de un elemento.*/
    margin: 0; /*establece el margen para los cuatro lados*/
}

html {
    scroll-behavior: smooth; /*especifica el comportamiento del desplazamiento para un elemento con desplazamiento,*/
}

body {
    margin: 3.5rem 0 0 0; /*establece el margen para los cuatro lados*/
    font-family: Georgia, 'Times New Roman', Times, serif; /*define una lista de fuentes o familias de fuentes*/
    font-size: .950rem; /*Tamaño letra body*/
    background: linear-gradient(90deg, #000000 10%, #505050 50%); /*es un atajo para definir los valores individuales del fondo*/
    color: #fff; /*denota un color*/
}

ul {
    list-style: none; /*combia estilo de lista */
}

a {
    text-decoration: none; /*se usa para establecer el formato de texto a subrayado*/
}

img {
    max-width: 100%; /*Tamaño máximo*/
    height: auto; /*Altura imagen*/
}

/*Botones*/
.button {
    display: inline-block; /*Diseño en pantalla*/
    color: #fff; /*color letras*/
    padding: 1rem 1rem; /*establece el espacio de relleno requerido por todos los lados de un elemento.*/
    border-radius: .5rem; /*Radio del borde*/
    font-weight: 500; /*especifica el peso o grueso de la letra*/
    transition: .3s; /*transición entre dos estados de un elemento*/
}

.button:hover {
    background-color: #696969; /*color del fondo*/
}


.buttonicon {
    font-size: 0.96rem; /*tamaño icono botón*/
}

/*Cabecera cuerpo*/
.header {
    width: 100%; /*ancho*/
    background: linear-gradient(50deg, #505050 20%, #000000 40%);/*es un atajo para definir los valores individuales del fondo */
    position: fixed; /*posición*/
    top: 0; /*posición arriba*/
    left: 0; /*posición izquierda*/
    z-index: 100; /*indica el orden de un elemento posicionado y sus descendientes*/
}

.grid {
    display: grid; /*Diseño en pantalla*/
}

.main {
    overflow: hidden; /*especifica: si recortar contenido, dibujar barras de desplazamiento o mostrar el contenido excedente en un elemento a nivel de bloque*/
}

.container {
    max-width: 968px;/*Tamaño máximo*/
    margin-left: 1.5rem;/*margen izquierda*/
    margin-right: 1.5rem;/*margen derecha*/
}

.nav {
    height: 4rem;/*especifica la altura de un elemento.*/
    display: flex;/*especifica si un elemento es tratado como block or inline element*/
    justify-content: space-between;/*define cómo el navegador distribuye el espacio entre y alrededor de los items flex, a lo largo del eje principal de su contenedor.*/
    align-items: center;/* establece el valor align-self sobre todos los descendientes directos de un grupo*/
}

.navLogo {
    display: flex;/*especifica si un elemento es tratado como block or inline element*/
    align-items: center;/* establece el valor align-self sobre todos los descendientes directos de un grupo*/
    column-gap: .8rem; /*Tamaño de espacio entre las columnas*/
}
    font-weight: 100;/*especifica el peso o grueso de la letra*/
}

.navLogo {
    color: rgb(255, 255, 255);/*color del elememto*/
    font-family: Georgia, 'Times New Roman', Times, serif;/*define una lista de fuentes o familias de fuentes*/
}

.navLogo-img {
    width: 8rem;/*especifica la anchura del area de contenido de un elemento*/
}

.section {
    padding: 4.5rem 0 2rem;/*establece el espacio de relleno requerido por todos los lados de un elemento.*/
}

.sectiontitle {
    font-size: 2.5rem !important;/*Tamaño letra*/
    margin-bottom: 2rem;/*margen inferior*/
    text-align: center;/*alineacion de texto*/
}

.navLink,
.navToggle,
.navclose {
    color: #fff;
}

.navToggle {
    font-size: 1.25rem;/*Tamaño letra*/
    cursor: pointer; /*estilo cursor*/
}

@media (max-width: 767px) {
    .navMenu {
        position: fixed;/*especifica cómo un elemento es posicionado en el documento*/
        width: 100%;/*especifica la anchura del area de contenido de un elemento*/
        background: #000000;/*es un atajo para definir los valores individuales del fondo*/
        top: -150%;/*posición arriba*/
        left: 0; /*posición izquierda*/
        padding: 3.5rem;/*establece el espacio de relleno requerido por todos los lados de un elemento.*/
        transition: .4s; /*transición entre dos estados de un elemento*/
        z-index: 100; /*indica el orden de un elemento posicionado y sus descendientes*/
        border-radius: 0 0 1.5rem;/*Radio del borde*/
    }
}

.navclose {
    font-size: 1.8rem;/*Tamaño letra*/
    position: absolute;/*especifica cómo un elemento es posicionado en el documento*/
    top: .5rem;/*posición arriba*/
    right: .7rem;/*especifica parte de la posición de un elemento*/
    cursor: pointer;/*estilo cursor*/
}

.navList {
    display: flex;/*especifica si un elemento es tratado como block or inline element*/
    flex-direction: column;/*Especifica como colocar los objetos flexibles en el contenedor*/
    align-items: center; /*Centra los elementos*/
    row-gap: 1.5rem; /*Tamaño de espacio entre las filas*/
}

.navLink {
    text-transform: uppercase; /*Especifica como capitalizar el texto de un elemento*/
    font-weight: 900;/*especifica el peso o grueso de la letra*/
    transition: .4s; /*transición entre dos estados de un elemento*/
}

.show-menu {
    top: 0;/*posición arriba*/
}

.scroll-header {
    background: #20242e;/*es un atajo para definir los valores individuales del fondo*/
}

.active-link {
    position: relative;/*especifica cómo un elemento es posicionado en el documento*/
}

.active-link::before {
    content: ''; /*Reemplaza un elemento con un valor generado*/
    position: absolute;/*especifica cómo un elemento es posicionado en el documento*/
    bottom: -.75rem;/*especifica la posición abajo de un elemento*/
    left: 45%; /*posición izquierda*/
    width: 5px;/*especifica la anchura del area de contenido de un elemento*/
    height: 5px;/*especifica la altura de un elemento.*/
    background-color: #fff;/*color de fondo*/
    border-radius: 50%;/*radio del borde*/
}

/*Home*/
.homecont {
    row-gap: 1rem;/*Tamaño de espacio entre las filas*/
}

.hometitle {
    font-size: 2.5rem !important;/*Tamaño letra body*/
    margin-bottom: 5rem;/*margen inferior*/
    text-align: center;/*alineacion de texto*/
}

.homedes {
    margin-bottom: 1rem;/*margen inferior*/
}

.homebut {
    display: flex;/*especifica si un elemento es tratado como block or inline element*/
}

.homebut a {
    margin-left: 10px;/*margen izquierda*/
}

.swiper-pagination {
    position: initial;/*especifica cómo un elemento es posicionado en el documento*/
    margin-top: 1rem;/*margen arriba*/
}

.swiper-pagination-bullet {
    width: 5px;/*especifica la anchura del area de contenido de un elemento*/
    height: 5px;/*especifica la altura de un elemento*/
    background-color: #fff;/*color de fondo*/
    opacity: 1; /*Define la transparancia de un elemento*/
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 0.5rem;/*establece el margen para los cuatro lados*/
}

.swiper-pagination-bullet-active {
  width: 1.5rem;/*especifica la anchura del area de contenido de un elemento*/
  height: 5px;/*Altura de un elememto*/
  border-radius: 0.5rem;/*radio del borde*/
}




/*CATEGORIA*/
.categorycontainer {
    grid-template-columns: repeat(2, 1fr); /*Define los nombres de línea y las funciones de tamaño de seguimiento de las columnas de la cuadrícula*/
    gap: 1rem 2rem; /*Establece el espacio entre las filas y las columnas*/
}

.categorydata {
    text-align: center;/*alineacion de texto*/
}

.categoryimg {
    width: 120px;/*especifica la anchura del area de contenido de un elemento*/
    margin-bottom: .75rem;/*margen inferior*/
    transition: 3s;/*transición entre dos estados de un elemento*/
}

.categorytitle {
    margin-bottom: .25rem;/*margen inferior*/
}


.categorydata:hover .categoryimg {
    transform: translateY(-.5rem);/*te permite modificar el espacio de coordenadas del modelo de formato visual CSS*/
}


/*ABOUT*/
.aboutcontainer {
    row-gap: 2rem;/*Tamaño de espacio entre las filas*/
}

.aboutdata {
    text-align: center;/*alineacion de texto*/
}

.aboutdescription{
    margin-bottom: 2rem;/*margen inferior*/
}
.aboutimg {
    width: 200px;/*especifica la anchura del area de contenido de un elemento*/
    justify-self: center; /*Establece la manera que se justifica un elemento dentro de un contenedor*/ 
}

/*PRODUCT*/

.productcontainer {
    grid-template-columns: repeat(2, 1fr);/*define el nombre de las líneas y las funciones de tamaño de línea de grid columns*/
    gap: 1.5rem;/*Establece el espacio entre las filas y las columnas*/
    padding-top: 1rem;/*establece el espacio de relleno requerido en la parte superior del elemento*/


}

.productcontent{
    position: relative;/*especifica cómo un elemento es posicionado en el documento*/
    background: #000c32;/*es un atajo para definir los valores individuales del fondo*/
    border-radius: 1rem;
    padding: 1.5rem 0 1rem 0;/*establece el espacio de relleno requerido por todos los lados de un elemento*/
    text-align: center;/*alineacion de texto*/
    overflow: hidden;/*especifica: si recortar contenido, dibujar barras de desplazamiento o mostrar el contenido excedente en un elemento a nivel de bloque*/
}

.productimg {
    width: 90px;/*especifica la anchura del area de contenido de un elemento*/
    transition: .3s;
}

.productsubtitle,
.productprice {
    display: block;/*especifica si un elemento es tratado como block or inline element*/
}

.productsubtitle {
    font-size: .75rem;/*Tamaño letra body*/
    margin-bottom: .5rem;/*margen inferior*/
}

.producttitle,
.productprice {
    color: #fff;
    font-weight: 500;/*especifica el peso o grueso de la letra*/
    font-size: .938rem;/*Tamaño letra body*/
}


.productbutton {
    display: inline-flex;/*especifica si un elemento es tratado como block or inline element*/
    padding: .5rem;/*establece el espacio de relleno requerido por todos los lados de un elemento*/
    border-radius: .25rem .25rem .75rem .25rem;/*radio del borde*/
    position: absolute;/*especifica cómo un elemento es posicionado en el documento*/
    right: -3rem;/*especifica la posición arriba de un elemento*/
    bottom: 0;/*especifica la posición abajo de un elemento*/
}

.producticon {
    font-size: 1.25rem;/*Tamaño letra body*/
    color: #fff;
}

.productcontent:hover .productimg {
    transform: translateY(-.5rem);/*te permite modificar el espacio de coordenadas del modelo de formato visual CSS*/
}

.productcontent:hover .productbutton {
    right: 0;/*especifica parte de la posición de un elemento*/
}


/*DESCUENTO*/
.discountcontainer {
    background: #000c32;/*es un atajo para definir los valores individuales del fondo*/
    border-radius: 1rem;/*radio del borde*/
    padding: 2.5rem 0 1.5rem;/*establece el espacio de relleno requerido por todos los lados de un elemento*/
    row-gap: .75rem;/*Tamaño de espacio entre las filas*/
}
.discountdata {
    text-align: center;/*alineacion de texto*/

}

.discounttitle {
    font-size: 1.25rem;/*Tamaño letra body*/
    margin-bottom: 2rem;/*margen inferior*/
}

.discountimg {
    width: 200px;/*especifica la anchura del area de contenido de un elemento*/
    justify-self: center;
}

/*NEW*/
.newcontainer {
    padding-top: 1rem;/*establece el espacio de relleno requerido por todos los lados de un elemento*/
}

.newimg {
    width: 120px;/*especifica la anchura del area de contenido de un elemento*/
    margin-bottom: .5rem;/*margen inferior*/
    transition: .3s;
}

.newcontent {
    position: relative;/*especifica cómo un elemento es posicionado en el documento*/
    background: #000c32;/*es un atajo para definir los valores individuales del fondo*/
    width: 242px;/*especifica la anchura del area de contenido de un elemento*/
    padding: 2rem 0 1.5rem 0;/*establece el espacio de relleno requerido por todos los lados de un elemento*/
    border-radius: .75rem;/*radio del borde*/
    text-align: center;/*alineacion de texto*/
    overflow: hidden;
}

.newtag {
    position: absolute;
    top: 8%;
    left: 8%;
    background-color: #3678ff;
    color: #fff;
    font-size: .813rem;/*Tamaño letra body*/
    padding: .25rem .5rem;/*establece el espacio de relleno requerido por todos los lados de un elemento*/
    border-radius: .25rem;/*radio del borde*/
}

.newtitle {
    font-size: .938rem;/*Tamaño letra body*/
    font-weight: 500;/*especifica el peso o grueso de la letra*/
}

.newsubtitle {
    display: block;/*especifica si un elemento es tratado como block or inline element*/
    font-size: .813rem;/*Tamaño letra body*/
    margin-bottom: .5rem;/*margen inferior*/
}

.newprices {
    display: inline-flex;/*especifica si un elemento es tratado como block or inline element*/
    align-items: center;
    margin-bottom: .5rem;
}

.newprice {
    font-weight: 500;/*especifica el peso o grueso de la letra*/
    color: #fff;
}

.newdiscount {
    color: #3678ff;
    font-size: .75rem;/*Tamaño letra body*/
    text-decoration: line-through;
    font-weight: 500;/*especifica el peso o grueso de la letra*/
}

.newbutton {
    display: inline-flex;/*especifica si un elemento es tratado como block or inline element*/
    padding: .5rem;/*establece el espacio de relleno requerido por todos los lados de un elemento*/
    border-radius: .25rem .25rem .75rem .25rem;/*radio del borde*/
    position: absolute;/*especifica cómo un elemento es posicionado en el documento*/
    bottom: 0;/*especifica la posición abajo de un elemento*/
    right: -3rem;/*especifica parte de la posición de un elemento*/
}

.newicon {
    font-size: 1.25rem;/*Tamaño letra body*/
}

.newcontent:hover .newimg {
    transform: translateY(-.5rem);/*te permite modificar el espacio de coordenadas del modelo de formato visual CSS*/
}

.newcontent:hover .newbutton {
    right: 0;/*especifica la posición arriba de un elemento*/
}


/*NOTICIAS*/
.newsld {
    text-align: center;/*alineacion de texto*/
    margin-bottom: 1.5rem;/*margen inferior*/
}

.newslf {
    background: #3678ff;/*es un atajo para definir los valores individuales del fondo*/
    padding: 1rem;/*establece el espacio de relleno requerido por todos los lados de un elemento*/
    display: flex;/*especifica si un elemento es tratado como block or inline element*/
    justify-content: space-between;
    border-radius: .75rem;/*radio del borde*/
}


.newslin {
    width: 70%;/*especifica la anchura del area de contenido de un elemento*/
    padding: 0 .5rem;/*establece el espacio de relleno requerido por todos los lados de un elemento*/
    background: none;/*es un atajo para definir los valores individuales del fondo*/
    color: #fff;
}

.button2 {
    display: inline-block;/*especifica si un elemento es tratado como block or inline element*/
    background: #0557fc;/*es un atajo para definir los valores individuales del fondo*/
    color: #fff;
    padding: 1rem 1.75rem;/*establece el espacio de relleno requerido por todos los lados de un elemento*/
    border-radius: 0.5rem;/*radio del borde*/
    font-weight: 500;/*especifica el peso o grueso de la letra*/
    transition: .3s;
}

.newslin::placeholder {
    color: #fff;
}

/*FOOTER*/

.footer {
    position: relative;/*especifica cómo un elemento es posicionado en el documento*/
    overflow: hidden;/*especifica: si recortar contenido, dibujar barras de desplazamiento o mostrar el contenido excedente en un elemento a nivel de bloque*/
}

.footercontainer {
    row-gap: 2rem;/*Tamaño de espacio entre las filas*/
}

.footerL {
    display: flex;/*especifica si un elemento es tratado como block or inline element*/
    align-items: center;
    column-gap: .5rem;/*Tamaño de espacio entre las columnas*/
    margin-bottom: 1rem;/*margen inferior*/
    font-weight: 500;/*especifica el peso o grueso de la letra*/
    color: #fff;
}

.footerL-img {
    width: 20px;/*especifica la anchura del area de contenido de un elemento*/
}

.footerdescription {
    margin-bottom: 2.5rem;/*margen inferior*/
}

.footersocial {
    display: flex;/*especifica si un elemento es tratado como block or inline element*/
    column-gap: .75rem;/*Tamaño de espacio entre las columnas*/
}

.footersocial-link {
    display: inline-flex;/*especifica si un elemento es tratado como block or inline element*/
    background: #000c32;/*es un atajo para definir los valores individuales del fondo*/
    padding: .25rem;/*establece el espacio de relleno requerido por todos los lados de un elemento*/
    border-radius: .25rem;/*radio del borde*/
    color: #fff;
    font-size: 1rem;/*Tamaño letra body*/
}

.footersocial-link:hover {
    background: #0557fc;/*es un atajo para definir los valores individuales del fondo*/
}

.footertitle {
    font-size: 1rem;
    margin-bottom: 1rem;/*margen inferior*/
}

.footerlinks {
    display: grid;/*especifica si un elemento es tratado como block or inline element*/
    row-gap: .35rem;/*Tamaño de espacio entre las filas*/
}

.footerlink {
    font-size: .813rem;/*Tamaño letra body*/
    color: #fff;
    transition: .3s;
}

.footerlink:hover {
    color: #fff;
}

.footercopy {
    display: block;/*especifica si un elemento es tratado como block or inline element*/
    text-align: center;/*alineacion de texto*/
    font-size: .75rem;/*Tamaño letra body*/
    margin-top: 4.5rem;/*margen superior*/
}

/*scroll up */
.scrollup{
  position: fixed;/*especifica cómo un elemento es posicionado en el documento*/
  background: #000C32;/*es un atajo para definir los valores individuales del fondo*/
  right: 1rem;/*especifica la posicion arriba de un elemento*/
  bottom: -20%;/*especifica la posición abajo de un elemento*/
  display: inline-flex;/*especifica si un elemento es tratado como block or inline element*/
  padding: .3rem;/*establece el espacio de relleno requerido por todos los lados de un elemento*/
  border-radius: .25rem;/*radio del borde*/
  z-index:10;
  opacity: .8;
  transition: .4s;
}

.scrollupicon{
  font-size: 1.25rem;/*Tamaño letra body*/
  color: #fff;
}

.scrollup:hover{
  background: #000C32;
  opacity: 1;
}

/* Show Scroll Up*/
.show-scroll{
  bottom: 3rem;/*especifica la posición abajo de un elemento*/
}

/*scroll bar*/
::-webkit-scrollbar {
    width: 0.6rem;/*especifica la anchura del area de contenido de un elemento*/
    background: #413e3e;/*es un atajo para definir los valores individuales del fondo*/
}
::-webkit-scrollbar-thumb {
    background: #272525;/*es un atajo para definir los valores individuales del fondo*/
    border-radius: .5rem;/*radio del borde*/
}

.gerencia {
    width: 60%;/*especifica la anchura del area de contenido de un elemento*/
    text-align: center;/*alineacion de texto*/
    height: 30%;
    margin-top: 0.4cm;/*margen superior*/
}

/*RESPONSIVE */


@media (max-width: 320px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .homebut {
        flex-direction: column;
        width: max-content;/*especifica la anchura del area de contenido de un elemento*/
        row-gap: 1rem;/*Tamaño de espacio entre las filas*/
    }
    .categorycontainer, 
    .productcontainer {
        grid-template-columns: .8fr;/*define el nombre de las líneas y las funciones de tamaño de línea de grid columns*/
        justify-content: center;
    }
    
}


@media (min-width: 576px) {
    .aboutcontainer {
        grid-template-columns: .8fr;/*define el nombre de las líneas y las funciones de tamaño de línea de grid columns*/
        justify-content: center;
    }

    .newslc{
        display: grid;/*especifica si un elemento es tratado como block or inline element*/
        grid-template-columns: .7fr;/*define el nombre de las líneas y las funciones de tamaño de línea de grid columns*/
        justify-content: center;
    }
    .newsld {
        padding: 0 3rem;/*establece el espacio de relleno requerido por todos los lados de un elemento*/
    }

}

@media (min-width: 767px) {
    body {
        margin: 0;/*establece el margen para los cuatro lados*/
    }
    .section {
        padding: 7rem 0 2rem;/*establece el espacio de relleno requerido por todos los lados de un elemento*/
    }
    .nav {
        height: calc(3.5rem + 1.5rem);
    }
    .navclose, 
    .navToggle {
        display: none;/*especifica si un elemento es tratado como block or inline element*/
    }
    .navList {
        flex-direction: row;
        column-gap: 3rem;/*Tamaño de espacio entre las columnas*/
    }
    .navLink {
        text-transform: initial;
        font-weight: initial;/*especifica el peso o grueso de la letra*/
    }
    .homecont {
        padding: 8rem 0 2rem;/*establece el espacio de relleno requerido por todos los lados de un elemento*/
        grid-template-columns: repeat(2, 1fr);/*define el nombre de las líneas y las funciones de tamaño de línea de grid columns*/
        gap: 4rem;/*Establece el espacio entre las filas y las columnas*/
    }

    .swiper-pagination {
        margin-top: 2rem;/*margen superior*/
    }

    .categorycontainer {
        grid-template-columns: repeat(3, 200px);/*define el nombre de las líneas y las funciones de tamaño de línea de grid columns*/
        justify-content: center;
    }
    .aboutcontainer {
        grid-template-columns: repeat(2, 1fr);/*define el nombre de las líneas y las funciones de tamaño de línea de grid columns*/
        align-items: center;
    }
    .abouttitle,
    .aboutdata {
        text-align: initial;/*alineacion de texto*/

    }
    .aboutimg {
        width: 250px;
    }
    .productcontainer {
        grid-template-columns: repeat(3,200px);/*define el nombre de las líneas y las funciones de tamaño de línea de grid columns*/
        justify-content: center;
        gap: 2rem;/*Establece el espacio entre las filas y las columnas*/
    }

    .discountcontainer {
        grid-template-columns: repeat(2, max-content);/*define el nombre de las líneas y las funciones de tamaño de línea de grid columns*/
        justify-content: center;
        align-items: center;
        column-gap: 3rem;/*Tamaño de espacio entre las columnas*/
        padding: 3rem 0;/*establece el espacio de relleno requerido por todos los lados de un elemento*/
        border-radius: 3rem;/*radio del borde*/
    }

    .discountimg {
        width: 350px;/*especifica la anchura del area de contenido de un elemento*/
        order: -1;
    }

    .discountdata {
        padding-right: 6rem;/*establece el espacio de relleno requerido por el lado derecho de un elemento*/
    }

    .newslc {
        grid-template-columns: .5fr;/*define el nombre de las líneas y las funciones de tamaño de línea de grid columns*/
    }

    .footercontainer {
        grid-template-columns: repeat(4, 1fr);/*define el nombre de las líneas y las funciones de tamaño de línea de grid columns*/
        justify-items: center;
        column-gap: 1rem;/*Tamaño de espacio entre las columnas*/
    }

    
}

@media (min-width: 992px) {

    .container {
        margin-left: auto;
        margin-right: auto;/*establece el margen derecho de un elemento*/
    }

    .sectiontitle {
        font-size: 1.5rem;/*Tamaño letra body*/
        margin-bottom: 3rem;/*margen inferior*/
    }

    .hometitle {
        font-size: 1.5rem;/*Tamaño letra body*/
        margin-bottom: 3rem;/*margen inferior*/
    }

    .homecont {
        padding-top: 9rem;
        gap: 3rem;/*Establece el espacio entre las filas y las columnas*/
    }
    
    .homeindicator {
        top: initial;
        right: initial;/*especifica la posicion derecha de un elemento*/
        bottom: 15%;/*especifica la posición abajo de un elemento*/
        left: 45%;
    }
    .homeindicator::after {
        top: 0;
        height: 75px;
    }

    .homedetails-img {
        bottom: 0;/*especifica la posición abajo de un elemento*/
        right: 58%;/*especifica la posicion derecha de un elemento*/

    }

    .homedes {
        margin-bottom: 2.5rem;/*margen inferior*/
        padding-right: 2rem;/*establece el espacio de relleno requerido por el lado derecho de un elemento*/
    }
    .categorycontainer {
        column-gap: 8rem;/*Tamaño de espacio entre las columnas*/
    }

    .categoryimg {
        width: 200px;/*especifica la anchura del area de contenido de un elemento*/
    }
    .aboutcontainer {
        column-gap: 7rem;/*Tamaño de espacio entre las columnas*/
    }
    .aboutimg {
        width: 350px;/*especifica la anchura del area de contenido de un elemento*/
    }
    .aboutdescription {
        padding-right: 2rem;
    }
    .productcontainer {
        gap: 3.5rem;/*Establece el espacio entre las filas y las columnas*/
    }
    .productcontent {
        border-radius: 1.5rem;/*radio del borde*/
    }
    .productimg {
        width: 110px;/*especifica la anchura del area de contenido de un elemento*/

    }

    .producttitle {
        font-size: 1rem;/*Tamaño letra body*/
    }
    .discountcontainer {
        column-gap: 7rem;/*Tamaño de espacio entre las columnas*/
    }

    .newcontent {
        width: 310px;/*especifica la anchura del area de contenido de un elemento*/
        border-radius: 1rem;/*radio del borde*/
        padding: 2rem 0;/*establece el espacio de relleno requerido por todos los lados de un elemento*/
    }

    .newimg {
        width: 150px;/*especifica la anchura del area de contenido de un elemento*/
    }
    .newimg,
    .newsubtitle {
        margin-bottom: 1rem;/*margen inferior*/
    }

    .newtitle {
        font-size: 1rem;/*Tamaño letra*/
    }

    .footercopy {
        margin-top: 6rem;/*margen superior*/
    }

}

@media (min-width: 1200px) {

    .swiper-pagination {
        margin-top: 2.5rem;/*margen superior*/
    }
}





